body {
  background: rgba(220, 220, 220, 0.3);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  min-width: 130px;
  padding: 15px;
  margin: 0, 45px;
  color: darkolivegreen;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

ul li:hover {
  cursor: pointer;
  color: #08dd61;
}

ul li a {
  text-decoration: none;
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

div a {
  text-decoration: none;
}
