@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$primary: #ff7025;
$primary-light: #f8b639;
$primary-dark: #ff4c00;

$white: #fff;
$grey-1: #e0e5ec;
$grey-2: #c3c1c6;
$grey-3: #b1b1b1;
$grey-5: #9baacf;
$grey-fade-1: fade_out($grey-1, 0.1);
$grey-fade-2: fade_out($grey-2, 0.1);

$background: $grey-1;
$standard-radius: 1.2rem;
$standard-transition: 260ms;

:root {
  --primary: #{$primary};
  --background: #{$background};
}

/* === SHADOWS === */
@function outset-shadow($darker-color: $grey-fade-2, $lighter-color: $white) {
  @return 0.3rem 0.3rem 0.5rem $darker-color,
    -0.2rem -0.2rem 0.4rem $lighter-color;
}

@function sunken-shadow($darker-color: $grey-fade-2, $lighter-color: $white) {
  @return -0.3rem -0.3rem 0.5rem $darker-color,
    0.2rem 0.2rem 0.4rem $lighter-color;
}

@function inset-shadow($darker-color: $grey-fade-2, $lighter-color: $white) {
  @return inset 0.2rem 0.2rem 0.5rem $darker-color,
    inset -0.2rem -0.2rem 0.5rem $lighter-color;
}

@function raised-shadow($darker-color: $grey-fade-2, $lighter-color: $white) {
  @return inset-shadow($lighter-color, $darker-color), outset-shadow();
}

@function ridge-shadow($darker-color: $grey-fade-2, $lighter-color: $white) {
  @return inset-shadow($darker-color, $lighter-color), outset-shadow();
}

/* === SETUP === */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 400;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none !important;
  }
}

::selection {
  text-shadow: none;
  color: $white;
  background-color: $primary-light;
}

html {
  box-sizing: inherit;
}

body {
  background: $background;
  color: $grey-5;
  padding: 1rem;
  font-family: "Baloo Thambi 2", cursive !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: 30em) {
    font-size: 1.5rem;
  }

  > p {
    margin: 0;
  }
}

button {
  color: inherit;
}

a {
  color: inherit;
  font-weight: 700;
  transition: all $standard-transition ease;

  &:hover,
  &:focus {
    color: $primary;
  }
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

h1 {
  font-weight: 100;
  font-size: 1rem;
  margin: 0;
  text-align: center;

  @media screen and (min-width: 30em) {
    font-size: 2rem;
  }
}

blockquote {
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;

  @media screen and (min-width: 30em) {
    font-size: 2.5rem;
  }
}

/* === TEXT MODIFIERS === */
.emboss {
  background: $white;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(0, 0, 0, 0.25) 1px 2px 1px;
}

.engrave {
  background: $grey-3;
  background-clip: text;
  color: transparent;
  text-shadow: rgba($white, 0.5) 1px 2px 1px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* === SHADOW TYPES ===*/
.shadow {
  &--outset,
  &--raised,
  &--inset,
  &--sunken,
  &--ridge {
    padding: 1rem 1.5rem;
    border-radius: $standard-radius;
    background: $background;
    cursor: default;
    user-select: none;
    max-width: 100%;

    @media screen and (min-width: 30em) {
      padding: 1rem 3rem;
    }
  }

  &--outset {
    box-shadow: outset-shadow();
  }

  &--raised {
    box-shadow: raised-shadow();
  }

  &--inset {
    box-shadow: inset-shadow();
  }

  &--sunken {
    box-shadow: sunken-shadow();
  }

  &--ridge {
    box-shadow: ridge-shadow();
  }
}

/* === CONTAINERS === */
section {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: $standard-radius;
  background: $background;
  box-shadow: outset-shadow();
  display: flex;
  flex-direction: column;
  gap: 2rem;

  > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }
}

/* === BUTTONS === */
.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: $standard-radius;
  padding: 1rem 3rem;
  transition: all $standard-transition ease;
  text-decoration: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 900;
  max-width: 100%;

  color: $grey-5;
  background: $background;
  box-shadow: outset-shadow();

  &:hover,
  &:focus {
    color: #08dd61;
    outline: none;
  }

  &:active {
    box-shadow: inset-shadow();
  }

  &__raised {
    box-shadow: raised-shadow();
  }

  &--pill {
    border-radius: $standard-radius * 2;
  }

  &__primary {
    color: $grey-1;
    background: $primary;
    box-shadow: raised-shadow($primary-dark, $primary-light);

    &:hover,
    &:focus {
      color: $white;
    }

    &:active {
      box-shadow: inset-shadow($primary-dark, $primary-light);
    }
  }

  &--round,
  &--square {
    border-radius: 50%;
    min-height: 4rem;
    min-width: 4rem;
    max-height: 4rem;
    max-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: outset-shadow();

    .button__icon {
      height: 2rem;
      width: 2rem;
    }
  }

  &--square {
    border-radius: $standard-radius;
  }

  &--pin {
    border-radius: 50%;
    min-height: 2rem;
    min-width: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    .button__icon {
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}
